<div>
  <form>
    <section class="form-block">

      <div class="form-group">
        <label for="numberOfNICs">Number of NICs</label>

        <div class="select" id="numberOfNICs">
          <select
            ng-model="$ctrl.numberOfNICs"
            ng-options="number for number in $ctrl.possibleNumbersOfNICs">
          </select>
        </div>

        <div class="col-xs-2">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-top-left">
            <clr-icon shape="info-circle" size="24"></clr-icon>
            <span class="tooltip-content">{{ $ctrl.TOOLTIP }}</span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="NICs">NICs Ordering</label>

        <ol class="nics-list sortable" id="NICs">
          <li ng-repeat="NIC in $ctrl.indices track by $index" ng-show="$ctrl.NICshow[ $ctrl.indices[ $index ]]">
            <div class="list-element">
              <div class="handler">
                <clr-icon shape="menu"></clr-icon>
              </div>
              <input ng-model="$ctrl.NICs[ $ctrl.indices[ $index ]]" data-index="{{ $ctrl.indices[ $index ] }}"
                     placeholder="{{ $ctrl.NIC_PLACEHOLDER }}"/>
            </div>
          </li>
        </ol>
      </div>

    </section>
  </form>
</div>
