 <div class="login-wrapper">
  <div >
      <form class="login" ng-submit="submit()" ng-controller="wizard">
            <label class="title">
                <h3 class="welcome">Sign Up</h3>
                VNF onboarding wizard 
            </label>
            <div class="login-group">
                <input class="username" type="text" id="login_email" placeholder="Username">
                <input class="password" type="password" id="password" placeholder="Password">
				<input class="username" type="text" id="confirm_password" placeholder="Confirm Password">
                
                <button type="submit" class="btn btn-primary">Sign Up</button>
                
        </div>
        </form>
    </div>  